$unit: 'px'
body
  font-size: 16px
section
  +w($desktop#{$unit})


.head
  &-scrolled
    .head-logo
      padding: 10px 0
    .head-nav-hidden-list
      top: 76px
  &-mobile-row,&-scrolled .head-mobile-row
    padding: 0
  &-logo
    padding: 22px 0
    transition: .35s ease
    &-link
      flex-direction: column
    &-img
      margin-right: 0
    &-word
      margin-top: 5px
  &-nav
    padding: 0
    &-list
      justify-content: space-between
    &-link
      padding: 0 20px
    &-hidden-list
      left: 611px
      top: 110px


main
  margin-top: 110px

.block
  &-title
    font-size: 36px

.crane
  &-row
    margin: 50px auto

.slide
  height: calc(100vh - 220px)
  &-bg
    +w(70%)
  &-content
    +w(30%)
    background-color: $blue
    margin-left: 70%
  &-p
    line-height: 24px
  &-button
    transition: .35s ease
  &-button:hover
    background-color: $white
    color: $blue