body
	padding-top: 171px
	&.scrolled
		padding-top: 123px

.section
	+w(1170px)

.head
	padding: 40px 0 48px
	transition: .35s ease
	&-logo
		height: initial
	&-nav
		&-link
			margin-left: 40px
			text-transform: uppercase
			font-family: $f_bold
	&-search
		input
			text-transform: uppercase
		button
			margin-left: 0
	&.scrolled
		padding: 20px 0
		.head
			&-logo
				height: initial


.banner
	height: 672px
	&-control
		right: calc(50% - 585px)
		.dot
			margin-bottom: 30px
	&-title
		font-size: 48px
		text-transform: uppercase
	&-text
		margin: 22px 0 33px
		font-size: 24px
		span
			line-height: 34px

.about
	&-text
	&-list
	&-item
		img