%transition
	transition: .35s ease
body
	padding-top: 90px
	&.scrolled
		padding-top: 60px
.section
	+w(300px)
	margin: auto


.button
	padding: 10px 0
	display: inline-flex
	align-items: center
	justify-content: center
	&.blue
		width: 150px
		background-color: $blue
		span
			margin-right: 20px
			font-family: $f_semi
			color: #fff
		&:after
			+af
			+wh(6px)
			border-top: 3px solid #fff
			border-right: 3px solid #fff
			transform: rotate(45deg)


.head
	padding: 10px 0
	background-color: #fff
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 99
	.section
		@extend %dfi
	&-logo
		@extend %transition
		height: 70px
		img
			+wh(100%)
			object-fit: cover
	&-burger
		@extend %df
		height: 21px
		justify-content: space-between
		flex-direction: column
		&:after,&:before
			@extend %transition
			+af
		&-inner,&:after,&:before
			height: 3px
			background-color: $black
			border-radius: 2px
		&:before
			width: 20px
		&-inner
			width: 25px
		&:after
			width: 15px
	&-logo,&-burger
		position: relative
		z-index: 1
	&-mobile
		@extend %dfc
		@extend %transition
		height: 100vh
		width: 100vw
		padding-top: 90px
		flex-direction: column
		background-color: #fff
		position: fixed
		bottom: 100%
		left: 0
	&-nav
		@extend %df
		flex-direction: column
		justify-content: center
		&-link
			@extend %transition
			@extend %dfa
			margin-bottom: 20px
			span
				font-size: 12px
			svg
				margin-right: 10px
	&-search
		@extend %transition
		@extend %dfa
		button
			margin-right: 10px
		input
			order: 2
			&,&::placeholder
				font-family: $f_bold
				color: $blue
	&-nav,&-search
		width: 300px
	.animation
		transform: translateY(-30px)
		opacity: 0
	&.active
		.head
			&-burger
				&:after
					transform: translateX(10px)
				&:before
					transform: translateX(5px)
			&-mobile
				bottom: 0
	&.scrolled
		box-shadow: 0 5px 5px rgba($black,.3)
		.head
			&-logo
				height: 40px


.banner
	&-slide
		@extend %transition
		width: 100%
		padding: 50px 20px
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		&.active
			opacity: 1
			visibility: visible
			position: relative
	&-bgc
		+wh(100%)
		opacity: .6
		position: absolute
		top: 0
		left: 0
		z-index: -1
		img
			+wh(100%)
			object-fit: cover
	&-title
		font-size: 18px
		font-family: $f_extra
		span
			display: block
	&-text
		margin: 20px 0 30px
		font-family: $f_semi