body
	&.scrolled
		padding-top: 70px
.section
	+w(740px)

.head
	&-burger
		display: none
	&-mobile
		+wh(initial)
		padding: 0
		align-items: flex-end
		position: static
	&-nav
		flex-direction: row
		align-items: center
		order: 2
		&-link
			margin-bottom: 0
			margin-left: 20px
	&-nav,&-search
		width: initial
	&-search
		margin-bottom: 10px
		button
			margin-top: 3px
			margin-right: 0
			margin-left: 10px
		input
			width: 100px
			order: initial
			text-align: right
	.animation
		opacity: 1
		transform: none
	&.scrolled
		.head-logo
			height: 50px

.banner
	&-bgc
		position: relative
		&:before
			+af
			+wh(100%)
			background: linear-gradient(89.01deg, rgba(255, 255, 255, 0.9) 0.85%, rgba(255, 255, 255, 0) 87.99%)
			position: absolute