-
	let slides = [
		{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Краны, вентили,',`запорные арматуры`],
			text: 'Простая конструкция, надежные и удобные в использовании — лучший выбор на рынке'
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Радиаторы, вентили,','запорные арматуры'],
			text: 'Простая конструкция, надежные и удобные в использовании — лучший выбор на рынке'
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Краны, вентили,','запорные арматуры'],
			text: 'Простая конструкция, надежные и удобные в использовании — лучший выбор на рынке'
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Краны, вентили,','теплые полы'],
			text: 'Простая конструкция, надежные и удобные в использовании — лучший выбор на рынке'
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Трубы, вентили,','запорные арматуры'],
			text: 'Простая конструкция, надежные и удобные в использовании — лучший выбор на рынке'
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Краны, вентили,','полипропилен'],
			text: 'Простая конструкция, надежные и удобные в использовании — лучший выбор на рынке'
		}
	]