-
	let bannerSlides = [
		{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Краны, вентили,',`запорные арматуры 1`],
			text: ['Простая конструкция, надежные и удобные','в использовании — лучший выбор на рынке']
		},{
			image: 'img/about-bgc-1.jpg',
			title: ['Радиаторы, вентили,','запорные арматуры 2'],
			text: ['Простая конструкция, надежные и удобные','в использовании — лучший выбор на рынке']
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Краны, вентили,','запорные арматуры 3'],
			text: ['Простая конструкция, надежные и удобные','в использовании — лучший выбор на рынке']
		},{
			image: 'img/about-bgc-1.jpg',
			title: ['Краны, вентили,','теплые полы 4'],
			text: ['Простая конструкция, надежные и удобные','в использовании — лучший выбор на рынке']
		},{
			image: 'img/main-slide-1-bgc.jpg',
			title: ['Трубы, вентили,','запорные арматуры 5'],
			text: ['Простая конструкция, надежные и удобные','в использовании — лучший выбор на рынке']
		},{
			image: 'img/about-bgc-1.jpg',
			title: ['Краны, вентили,','полипропилен 6'],
			text: ['Простая конструкция, надежные и удобные','в использовании — лучший выбор на рынке']
		}
	],
	catalogSlides = [
		{
			title: 'Полипропиленовые трубы',
			text: 'Для холодного и горячего водоснабжения, систем отопления, орошения и кондиционирования'
		},{
			title: 'ФИТИНГИ',
			text: 'Фитинги для труб полипропиленовые, резьбовые, разъемные'
		},{
			title: 'Радиаторы',
			text: 'Алюминиевые и биметаллические литые секционные радиаторы высокого европейского качества'
		},{
			title: 'Теплые полы',
			text: 'Трубы для "теплого пола" из полиэтилена и металлопластика, сопутствующие фитинги'
		}, {
			title: 'Полипропиленовые трубы',
			text: 'Для холодного и горячего водоснабжения, систем отопления, орошения и кондиционирования'
		}, {
			title: 'ФИТИНГИ',
			text: 'Фитинги для труб полипропиленовые, резьбовые, разъемные'
		}, {
			title: 'Радиаторы',
			text: 'Алюминиевые и биметаллические литые секционные радиаторы высокого европейского качества'
		}, {
			title: 'Теплые полы',
			text: 'Трубы для "теплого пола" из полиэтилена и металлопластика, сопутствующие фитинги'
		}
	]