header.head
  .section
    a(href='/').head-logo
      +img('logo.png')
    button.head-burger(data-click='burgerClick')
      span.head-burger-inner
    .head-mobile
      nav.head-nav
        a(href='/').head-nav-link.animation
          span О компании
        a(href='/').head-nav-link.animation
          span Каталог
        a(href='/').head-nav-link.animation
          span Контакты
        a(href='/').head-nav-link.animation
          span Отзывы
        a(href='/').head-nav-link.animation
          include ../../img/download.svg
          span Скачать прайс-лист
        a(href='tel:+77004955055').head-nav-link.animation
          include ../../img/phone.svg
          span +7(700)4955055
      .head-search.animation
        input(type='text' placeholder='Поиск')
        button
          include ../../img/search.svg