header
    .head
        section
            .head-mobile-row
                .head-logo
                    a(href='#').head-logo-link
                        +img('logo-img.svg').head-logo-img
                        +img('logo-word.svg').head-logo-word
                .head-burger
                    button.head-burger-button
                        span.head-burger-span
                        span.head-burger-span
                        span.head-burger-span
            .head-nav
                ul.head-nav-list
                    li.head-nav-item
                        a(href='#').head-nav-link.head-nav-active
                            span.head-nav-link-img
                                +img('icon-1.svg')
                            span Главная
                    li.head-nav-item
                        a(href='#').head-nav-link.head-nav-product
                            span.head-nav-link-img
                                +img('icon-2.svg')
                            span Продукция
                    li.head-nav-item
                        a(href='#').head-nav-link
                            span.head-nav-link-img
                                +img('icon-3.svg')
                            span Каталог
                    li.head-nav-item
                        a(href='#').head-nav-link
                            span.head-nav-link-img
                                +img('icon-4.svg')
                            span Прайс
                    li.head-nav-item
                        a(href='#').head-nav-link
                            span.head-nav-link-img
                                +img('icon-5.svg')
                            span Контакты
    section
        ul.head-nav-hidden-list
            li.head-nav-hidden-item
                a(href='#').head-nav-hidden-link • Трубы
            li.head-nav-hidden-item
                a(href='#').head-nav-hidden-link • Фитинги
            li.head-nav-hidden-item
                a(href='#').head-nav-hidden-link • Теплый пол
            li.head-nav-hidden-item
                a(href='#').head-nav-hidden-link • Оборудование