extends template/main
append vars
    -
        page_title= 'Статьи'
block content
    main
        section
            .articles
                ul.articles-list
                    li.articles-item
                        h3.articles-title Полипропиленовые трубы признак качества
                        .articles-body
                            .articles-photo
                                .articles-photo-img
                                    img(src='img/pipe.jpg' alt='no photo')
                                .articles-photo-corner
                                    +img('corner.svg')
                                    span.articles-photo-date
                                        span.articles-photo-span 15
                                        span.articles-photo-span февраля
                            .articles-desc
                                .articles-desc-text В век современных технологий эра стальных труб подошла к концу, потому как  стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                a(href='#').articles-desc-button.button.button-blue
                                    span.articles-desc-button-text Читать полностью
                        .articles-line
                    li.articles-item
                        h3.articles-title Водяной теплый пол Blue Ocean
                        .articles-body
                            .articles-photo
                                .articles-photo-img
                                    img(src='img/t-pol.jpg' alt='no photo')
                                .articles-photo-corner
                                    +img('corner.svg')
                                    span.articles-photo-date
                                        span.articles-photo-span 26
                                        span.articles-photo-span декабря
                            .articles-desc
                                .articles-desc-text Водяной тёплый пол - это система обогрева помещений, в которой теплоноситель циркулирует по замкнутому контуру трубы, находящемуся в бетонной стяжке. Рекомендуем использовать его в помещениях с автономной  системой отопления. При этом максимальную экономию Вы получите при установке в систему отопления  твердотопливного или газового котла.
                                a(href='#').articles-desc-button.button.button-blue
                                    span.articles-desc-button-text Читать полностью
                        .articles-line
                    li.articles-item
                        h3.articles-title Полипропиленовые трубы признак качества
                        .articles-body
                            .articles-photo
                                .articles-photo-img
                                    img(src='' alt='no photo')
                                .articles-photo-corner
                                    +img('corner.svg')
                                    span.articles-photo-date
                                        span.articles-photo-span 3
                                        span.articles-photo-span августа
                            .articles-desc
                                .articles-desc-text В век современных технологий эра стальных труб подошла к концу, потому как  стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                a(href='#').articles-desc-button.button.button-blue
                                    span.articles-desc-button-text Читать полность