extends template/main
append vars
    -
        page_title= 'Статьи'
block content
    main
        section
            .articles
                h1.main-title Cтатьи
                form.articles-filter
                    .articles-filter-row
                        span.articles-filter-title Показать статьи
                    .articles-filter-row
                        span.articles-filter-title с:
                        input(type='date').articles-filter-start
                    .articles-filter-row
                        span.articles-filter-title по:
                        input(type='date').articles-filter-finish
                ul.articles-page
                form.pagination
                    a(href='#').pagination-link <<
                    a(href='#').pagination-link <
                    input(type='text' value='1').pagination-input
                    a(href='#').pagination-link >
                    a(href='#').pagination-link >>