extends template/main
append vars
    -
        page_title= 'Статьи'
block content
    main
        section
            .articles
                h1.main-title Cтатьи
                form.articles-filter
                    .articles-filter-row
                        span.articles-filter-title Показать статьи
                    .articles-filter-row
                        span.articles-filter-title с:
                        input(type='date')
                    .articles-filter-row
                        span.articles-filter-title по:
                        input(type='date')
                ul.articles-page
                    li.articles-unit
                        h5.articles-unit-title Полипропиленовые трубы признак качества
                        .articles-unit-date 20.02.2020
                        .articles-unit-body
                            .articles-unit-show
                                .articles-unit-photo
                                    +img('pipe.jpg')
                                p.articles-unit-desc В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-link.articles-unit-open
                                    a(href='#') Показать полностью
                            .articles-unit-hidden
                                p.articles-unit-hidden-text.articles-unit-hidden-photo-right
                                    +img('pipe.jpg')
                                    | В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                p.articles-unit-hidden-text.articles-unit-hidden-photo-left
                                    +img('pipe.jpg')
                                    | В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-hidden-photo
                                    +img('pipe.jpg')
                                p.articles-unit-hidden-text В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-link.articles-unit-close
                                    a(href='#') Свернуть статью
                    li.articles-unit
                        h5.articles-unit-title Полипропиленовые трубы признак качества
                        .articles-unit-date 20.02.2020
                        .articles-unit-body
                            .articles-unit-show
                                .articles-unit-photo
                                    +img('pipe.jpg')
                                p.articles-unit-desc В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-link.articles-unit-open
                                    a(href='#') Показать полностью
                            .articles-unit-hidden
                                p.articles-unit-hidden-text.articles-unit-hidden-photo-right
                                    +img('pipe.jpg')
                                    | В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                p.articles-unit-hidden-text.articles-unit-hidden-photo-left
                                    +img('pipe.jpg')
                                    | В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-hidden-photo
                                    +img('pipe.jpg')
                                p.articles-unit-hidden-text В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-link.articles-unit-close
                                    a(href='#') Свернуть статью
                    li.articles-unit
                        h5.articles-unit-title Полипропиленовые трубы признак качества
                        .articles-unit-date 20.02.2020
                        .articles-unit-body
                            .articles-unit-show
                                .articles-unit-photo
                                    +img('pipe.jpg')
                                p.articles-unit-desc В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-link.articles-unit-open
                                    a(href='#') Показать полностью
                            .articles-unit-hidden
                                p.articles-unit-hidden-text.articles-unit-hidden-photo-right
                                    +img('pipe.jpg')
                                    | В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                p.articles-unit-hidden-text.articles-unit-hidden-photo-left
                                    +img('pipe.jpg')
                                    | В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-hidden-photo
                                    +img('pipe.jpg')
                                p.articles-unit-hidden-text В век современных технологий эра стальных труб подошла к концу, потому как стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                .articles-unit-link.articles-unit-close
                                    a(href='#') Свернуть статью
                form.pagination
                    a(href='#').pagination-link <<
                    a(href='#').pagination-link <
                    input(type='text' value='1').pagination-input
                    a(href='#').pagination-link >
                    a(href='#').pagination-link >>