extends template/main
append vars
	-
		page_title= 'Главная'
block content
	main.main
		section.banner-slider
			.banner
				each slide in slides
					.banner-slide
						.banner-bgc
							img(src!= slide.image)
						.section.banner-inner
							h2.banner-title
								each span in slide.title
									span #{span}
							p.banner-text #{slide.text}
							a(href='/').button.blue
								span ПОДРОБНЕЕ
			.banner-control



