extends template/main
append vars
  -
    page_title= 'Главная'
block content
    main
        section
            .slider
                .slide
                    .slide-content
                        h2.slide-title.block-title Трубы "Blue Ocean"
                        .slide-desc
                            p.slide-p Полипропиленовые трубы для холодного и горячего водоснабжения, систем отопления, орошения и кондиционирования.
                            p.slide-sub-title Мы предлагает 4 вида труб:
                            ul.slide-list
                                li.slide-list-item
                                    span - тонкостенные с увеличенной проходимостью
                                li.slide-list-item
                                    span - толстостенные
                                li.slide-list-item
                                    span - армированные внутри алюминием для систем отопления
                                li.slide-list-item
                                    span - стекловолокно для горячего водоснабжения
                        a(href='#').button.slide-button
                            span Подробнее
        section
            .products
                .crane-row
                    +img('crane.svg').crane-img
                    .crane-line
                ul.products-list
                    li.products-item
                        a(href='#').products-link
                            .products-link-photo
                                +img('')
                            span.products-link-text Трубы
                    li.products-item
                        a(href='#').products-link
                            .products-link-photo
                                +img('fiting.svg')
                            span.products-link-text Фитинги
                    li.products-item
                        a(href='#').products-link
                            .products-link-photo
                                +img('t-pol.svg')
                            span.products-link-text Теплый пол
                    li.products-item
                        a(href='#').products-link
                            .products-link-photo
                                +img('equip.svg')
                            span.products-link-text Оборудование
        section
            .about
                .crane-row
                    +img('crane.svg').crane-img
                    .crane-line
                h2.block-title.block-title-blue Кто мы такие?
                .about-img
                .about-desc
                    p.about-text Компания ИП Голубой Океан является официальным дилером "#[strong Blue Ocean International Indusrial (UK) Group]", основанной в Лондоне, Великобритания.
                    p.about-text Строгий контроль качества, многолетний опыт, постоянные исследования новых технологий и высокое качество обслуживания клиентов - вот основные факторы, которые делают нас одной из ведущих компаний в мире по производству полимерных трубопроводов.
                    p.about-text Все наши продукты производятся в соответствии с международными стандартами и проходят испытания в специальных сертифицированных лабораториях, наши основные продукты сертифицированы немецким органом сертификации SKZ, а наше сварочное оборудование, клапаны и аксессуары сертифицированы сертификацией CE в Италии.
                    p.about-text Наши товары представлены более чем в 40 странах мира.
        section
            .why
                .crane-row
                    +img('crane.svg').crane-img
                    .crane-line
                h2.block-title.block-title-blue Почему нас выбирают
                span.why-subtitle Наши преимущества
                ul.why-list
                    li.why-item
                        +img('technologies.svg').why-item-img
                        p.why-item-text Современные технологии
                    li.why-item
                        +img('microscope.svg').why-item-img
                        p.why-item-text Современная лаборатория тестирования
                    li.why-item
                        +img('quality.svg').why-item-img
                        p.why-item-text Европейские стандартны качества
                    li.why-item
                        +img('eco.svg').why-item-img
                        p.why-item-text Экологически чистая продукция
                    li.why-item
                        +img('money.svg').why-item-img
                        p.why-item-text Накопительная система скидок
                    li.why-item
                        +img('personal.svg').why-item-img
                        p.why-item-text Вежливый, квалифицированный персонал
                    li.why-item
                        +img('assortment.svg').why-item-img
                        p.why-item-text Огромный ассортимент товаров
        section
            .articles
                .crane-row
                    +img('crane.svg').crane-img
                    .crane-line
                h2.block-title.block-title-blue Наши статьи
                ul.articles-list
                    li.articles-item
                        h3.articles-title Полипропиленовые трубы признак качества
                        .articles-body
                            .articles-photo
                                .articles-photo-img
                                    img(src='img/pipe.jpg' alt='no photo')
                                .articles-photo-corner
                                    +img('corner.svg')
                                    span.articles-photo-date
                                        span.articles-photo-span 15
                                        span.articles-photo-span февраля
                            .articles-desc
                                .articles-desc-text В век современных технологий эра стальных труб подошла к концу, потому как  стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                a(href='#').articles-desc-button.button.button-blue
                                    span.articles-desc-button-text Читать полностью
                        .articles-line
                    li.articles-item
                        h3.articles-title Водяной теплый пол Blue Ocean
                        .articles-body
                            .articles-photo
                                .articles-photo-img
                                    img(src='img/t-pol.jpg' alt='no photo')
                                .articles-photo-corner
                                    +img('corner.svg')
                                    span.articles-photo-date
                                        span.articles-photo-span 26
                                        span.articles-photo-span декабря
                            .articles-desc
                                .articles-desc-text Водяной тёплый пол - это система обогрева помещений, в которой теплоноситель циркулирует по замкнутому контуру трубы, находящемуся в бетонной стяжке. Рекомендуем использовать его в помещениях с автономной  системой отопления. При этом максимальную экономию Вы получите при установке в систему отопления  твердотопливного или газового котла.
                                a(href='#').articles-desc-button.button.button-blue
                                    span.articles-desc-button-text Читать полностью
                        .articles-line
                    li.articles-item
                        h3.articles-title Полипропиленовые трубы признак качества
                        .articles-body
                            .articles-photo
                                .articles-photo-img
                                    img(src='' alt='no photo')
                                .articles-photo-corner
                                    +img('corner.svg')
                                    span.articles-photo-date
                                        span.articles-photo-span 3
                                        span.articles-photo-span августа
                            .articles-desc
                                .articles-desc-text В век современных технологий эра стальных труб подошла к концу, потому как  стальные трубы не так долговечны, со временем они начинают ржаветь и в воду попадают продукты разложения металла. Полипропиленовые трубы лишены этого минуса. Так же полипропилен намного легче, гибче и проще в монтаже. Ну и конечно же внешний вид, гладкие белые ровные трубы, их легко вплести практически в любой дизайн...
                                a(href='#').articles-desc-button.button.button-blue
                                    span.articles-desc-button-text Читать полностью
                        .articles-line
                a(href='#').articles-link Читать все статьи
        section
            .sertificates
                .crane-row
                    +img('crane.svg').crane-img
                    .crane-line
                h2.block-title.block-title-blue Наши сертификаты
                ul.sertificates-list
                    li.sertificates-item
                        a(href='#').sertificates-link
                            +img('sert-1.jpg')
                        .sertificates-full
                            button.sertificates-full-close
                            h3.sertificates-full-title ECM Сертификация (Италия) CE сертификат
                            +img('sert-1.jpg').sertificates-full-img
                    li.sertificates-item
                        a(href='#').sertificates-link
                            +img('sert-2.jpg')
                        .sertificates-full
                            button.sertificates-full-close
                            h3.sertificates-full-title KIWA Сертификация (Нидерланды) No. K8767701
                            +img('sert-2.jpg').sertificates-full-img
                    li.sertificates-item
                        a(href='#').sertificates-link
                            +img('sert-3.jpg')
                        .sertificates-full
                            button.sertificates-full-close
                            h3.sertificates-full-title SKZ Сертификация (Германия) А528
                            +img('sert-3.jpg').sertificates-full-img
                    li.sertificates-item
                        a(href='#').sertificates-link
                            +img('sert-1.jpg')
                        .sertificates-full
                            button.sertificates-full-close
                            h3.sertificates-full-title ECM Сертификация (Италия) CE сертификат
                            +img('sert-1.jpg').sertificates-full-img
                    li.sertificates-item
                        a(href='#').sertificates-link
                            +img('sert-2.jpg')
                        .sertificates-full
                            button.sertificates-full-close
                            h3.sertificates-full-title KIWA Сертификация (Нидерланды) No. K8767701
                            +img('sert-2.jpg').sertificates-full-img
                    li.sertificates-item
                        a(href='#').sertificates-link
                            +img('sert-3.jpg')
                        .sertificates-full
                            button.sertificates-full-close
                            h3.sertificates-full-title SKZ Сертификация (Германия) А528
                            +img('sert-3.jpg').sertificates-full-img
        section
            .map
                .crane-row
                    +img('crane.svg').crane-img
                    .crane-line
                h2.block-title.block-title-blue Мы на карте
                iframe(src="https://yandex.kz/map-widget/v1/-/CCQlfJD1tC" allowfullscreen="true" style="position:relative;")