extends template/main
append vars
	-
		page_title= 'Главная'
block content
	main.main
		section.banner.slider
			.banner-slider.slides
				each slide in slides
					.banner-slide.slide
						.banner-bgc
							img(src!= slide.image)
						.section.banner-inner.slide-inner
							h2.banner-title.animation
								each span in slide.title
									span #{span}
							p.banner-text.animation #{slide.text}
							a(href='/').button.blue.animation
								span ПОДРОБНЕЕ
			.banner-control.dots



