extends template/main
append vars
	-
		page_title= 'Главная'
block content
	main.main
		section.banner.slider
			.banner-slider.slides
				each slide in bannerSlides
					.banner-slide.slide
						.banner-bgc.animation
							img(src!= slide.image)
						.section.banner-inner
							h2.banner-title.animation
								each span in slide.title
									span #{span}
							h6.banner-text.animation
								each span in slide.text
									span #{span}
							a(href='/').button.blue.animation
								span ПОДРОБНЕЕ
			.banner-control.dots
		section.search
			.section
				h6.subtitle
					span НАЙДИТЕ ТО, ЧТО ВАМ НУЖНО СРЕДИ 1000+ ТОВАРОВ
				form.search-form
					.search-input-block
						input(type='text').search-input
						span.search-input-label Фитинги для
					button.search-button Поиск



